.main-footer {
  background: linear-gradient(
    263deg,
    #e3a379 -10.95%,
    #df7e85 33.97%,
    #dd6189 98.23%
  );
  color: white;
}

.footer-title {
  color: rgb(29, 28, 28) !important;
}

.footer-claim {
  padding-bottom: 30px;
  font-weight: 500;
}
