
.featureproduct-main{
    background-color: #c5dee75b;
    padding: 50px 0;
}
.product-figure {
  /* width: auto; */
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  position: relative;
  /* overflow: hidden; */
  /* transition: all 0.5s linear; */
}

.product-figure::after {
  content: '';
  position: absolute;
  /* top: 0;
  left: 0;
  width: 0%; */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s linear;
  cursor: pointer;
}
.product-figure:hover::after {
  width: 100%;
}
.product-figure:hover img {
  transform: scale(1.2);
}
.product-figure img {
  max-width: 90%;
  margin-top: 1.5rem;
  height: 18rem;
  transition: all 0.2s linear;
}

.category {
  position: absolute;
  top: 15%;
  right: 10%;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 0 12px ;
  border-radius: 15px;
}


.card {
    background-color: white;
}
    .card-data {
      padding: 0 2rem;
    }
    .card-data p{
     color: rgb(81, 81, 252);
    }

    .card-data-flex {
      margin: 1rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
