
.services-column-1 ,
.services-column-2 ,
.services-column-3{
background-color: rgba(196, 194, 189, 0.356);
height: 18rem;
width: auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
border-radius: 2rem;
box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
color: black;
}

.row-1, .row-2{
    gap: 4rem;
    box-shadow: none;
}

