.customer-service-cards{
display: grid;
grid-template-columns: repeat(3,1fr);
margin-top: 30px;
gap: 25px;
}

.customer-service-card img{
    width: 60px;
}
.customer-service-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #CAEDFF;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}