
/* Add this to your Hero.css file */
figure {
  position: relative;
}
.hero-img {
  position: relative;
}
.hero-image-div {
  position: absolute;
  background-color: rgb(210, 207, 252);
  height: 270px;
  width: 430px;
  top: 50px;
  bottom: -30px;
  right: -40px;
  left: 30px;
  
}
@media only screen and (max-width: 1200px) {
  .hero-image-div {
    display: none;
  }
}
