.filter-search{
    margin-top: 40px;
}
.filter-search input{
   background-color: transparent;
   border: 1px solid rgb(226, 201, 201);
   outline: none;
   border-radius: 5px;
   
}
.filter-category h4{
    text-align: start;
    margin: 15px 0px;
    font-size: 18px;
    color: rgb(59, 56, 56);
}

.filter-category button{
  text-align: start;
  margin-bottom: 10px;
}

.category-name{
display: flex;
align-items: left;
flex-direction: column;
}