.filter-search{
    margin-top: 40px;
}
.filter-search input, .filter-company-select{
   background-color: transparent;
   border: 1px solid rgb(226, 201, 201);
   outline: none;
   border-radius: 5px;  
}
.filter-category h4  ,.filter-company h4 , .filter-colors h4{
    text-align: start;
    margin: 15px 0px;
    font-size: 18px;
    color: rgb(59, 56, 56);
}

.filter-category button{
  text-align: start;
  margin-bottom: 10px;
}

.category-name {
display: flex;
align-items: left;
flex-direction: column;
}
.filter-color-style {
display: flex;
gap: 0px;

}

/* .filter-company-select button {
display: flex;
} */