
.contact-form-section{
     display: grid;
  grid-template-columns: repeat(2,1fr);
     margin: auto;
     padding-bottom: 40px;
}
.contact-form{
    display: flex;
    align-items: center;
    gap: 25px;
    flex-direction: column;
}
.contact-form input ,textarea{
    width: 80%;
    background-color: transparent;
    border: 2px solid #370feb5b;
    padding: 10px;
    border-radius: 4px;
    outline: none;
    transition: all 0.2s;
    cursor: pointer;
}
.contact-form input:hover ,textarea:hover{
    transform: scale(0.9);
}

.contact-img{
    width: 100%;
    margin: auto;
}

.contact-form button{
width: 275px;
outline: none;
border: none;
color: white;
}
.contact-form button:hover{
background-color: rgb(148, 121, 247);
}

.location-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin: 50px 0px;
}

